ASR_API_URL=https://tea-asr4090.yo3dp.cc/v1/audio/transcriptions
ASR_API_KEY=replace_with_the_same_key_used_by_the_docker
APP_USERNAME=your_username
APP_PASSWORD=use_a_long_random_password
WEBHOOK_URL=https://n8nv2.ibots.cc/webhook/ESP32_To_BPR
WEBHOOK_METHOD=GET
PORT=3000
